<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/index.html">首页</a></li>
			<li>
				<a href="">培训课程</a>
				<ul>
					<li><a href="#">周末班</a></li>
					<li><a href="#">暑假班</a></li>
					<li><a href="#">在线兴趣班</a></li>
<!-- 					<li>
						<a href="">Phasellus consequat</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Phasellus consequat</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li> 
					<li><a href="#">Veroeros feugiat</a></li>
					-->
				</ul>
			</li>
			<li><a href="{{ site.baseurl }}/blog">教学交流</a></li>
			<li {% if current[1] == 'news.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/news.html">最新动态</a></li>
			<li {% if current[1] == 'register.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/register.html">在线报名</a></li>
			<li {% if current[1] == 'about.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/about.html">关于我们</a></li>
		</ul>
	</nav>