<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="4u">
								<section>
									<ul class="contact">
										<li>
											<span class="address">地址：</span>
											<span>洛阳市涧西区创展国际贵都1-1403</span>
										</li>
									</ul>
								</section>
							</div>
							<div class="4u">
								<section>
									<ul class="contact">
										<li>
											<span class="mail">电子邮箱：</span>
											<span>support@52robot.org</span>
										</li>
									</ul>
								</section>
							</div>
							<div class="4u">
								<section>
									<ul class="contact">
										<li>
											<span class="phone">电话：</span>
											<span>0379-69997398</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							© Copyright www.boyue.win 2015
						</div>

				</div>
			</div>

	</body>
</html>