---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<!-- <h1><a href="#" id="logo">{{ page.title }}</a></h1> -->

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>欢迎来到52robot!</h2>
										<span class="byline">我们致力于打造简单易学的机器人开发教程。</span>
									</header>
									<a href="#" class="button alt">报名参加</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>我们的资源</h2>
						<!-- <span class="byline">多媒体教室，</span> -->
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt=""></a>
							<p>丰富的智能硬件，以及配套的扩展设备。</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt=""></a>
							<p>先进的多媒体设备，更好的学习体验。</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>自由放松的学习环境，充分释放自己的创意灵感。</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}